@media (min-width: 900px) {
    .container {
        width: __site_width__;
    }
}
@media (max-width: 479px) {
    html, body {
        font-size: 12pt;
    }
    .medialeft,
    .mediaright {
        display: block;
        float: none !important;
        margin: 0 auto;
    }
}
