@media screen and (min-width: 1200px), (min-width: 992px) {
    .container {
        width: __site_width__;
    }
}

@media screen and (max-width: 479px) {
    .medialeft,
    .mediaright {
        display: block;
        float: none !important;
        margin: 0 auto;
    }
}
