body {
    .navbar {
        color: __text__;
        background: __background__ url(images/background.png);
        border-top: 1px solid __border__;
        border-bottom: 1px solid __border_dark__;
        min-height: 3rem;
        padding: 0;
        z-index: 99999;

        & a {
            color: __text__;
            font-family: "El Messiri";
            position: relative; bottom: -2px; /* Fix 2px upward offset of font */
        }

        #qsearch__in {
            background-color: transparent;
            border: none;
            color: __text__;
            font-weight: 500;
            line-height: 3rem;
            padding: 0 0.5rem;
            width: 100%;

            & + button {
                display: none;
            }
        }

        .navbar-nav {
            border-left: 1px solid __border_dark__;
            border-right: 1px solid __border__;
        }

        .nav-item {
            border-left: 1px solid __border__;
            border-right: 1px solid __border_dark__;

            &:hover,
            &:active,
            &:focus {
                background-color: rgba(0,0,0, 0.25);
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
            }

            & > a {
                line-height: 3rem;
                padding: 0 0.5rem;

                &:hover,
                &:active,
                &:focus {
                    color: __text_alt__;
                }
            }

            .dropdown-item {
                &:hover,
                &:active,
                &:focus {
                    background-color: transparent;
                }
            }
        }
    }
}